*/bin
*.asm
*.class
fr.inria.atlanmod.uml2nosql.graphdb.mapping.metamodel.edit/
fr.inria.atlanmod.uml2nosql.graphdb.mapping.metamodel.editor/
fr.inria.atlanmod.uml2nosql.graphdb.metamodel.edit/
fr.inria.atlanmod.uml2nosql.graphdb.metamodel.editor/
fr.inria.atlanmod.uml2nosql.graphdb.generated/
